.site-header {
  font-family: $font__dancing_script;
  position: sticky;
  top: 0;
  padding: 0 8%;
  background-color: white;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    &--left, &--right {
      display: flex;
      align-items: center;
    }

    &__divider {
      padding: 0 8px;
    }

    a {
      text-decoration: none;
      color: $color__text;
    }
  }
}