@font-face {
  font-family: 'Dancing Script';
  src: url("assets/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Shalimar';
  src: url("assets/fonts/Shalimar-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Caveat';
  src: url("assets/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

$font__dancing_script: 'Dancing Script';
$font__shalimar: 'Shalimar';
$font__caveat: 'Caveat';