html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: $color__text;
  margin: 0;
  overflow-x: hidden;
}

.site {
  margin: auto;
  max-width: 1440px;
}

h1 {
  font-family: $font__shalimar;
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
  margin: 8px 0;
}

p {
  margin: 0;
}

a {

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
  }
}